prodSecretKey:
prodCheckoutKey:
testSecretKey:
testCheckoutKey:
isTest: true
requestLimit: 5
saveToCSV: false
xApiKey:
paresCheckoutKey:
currency: SEK
charge: true
checkoutLanguage: sv-SE
consumer: true
consumerLocale: sv
consumerType: B2C
mhcd: true